html { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    margin:0;
}

#menuHeader{
    padding: 0;
    margin-top:0;
    margin-bottom:0;
    margin-left: 3em;
    margin-right: 3em;
    background-color: #B1B5AE;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#menuHeader > li{
    list-style: none;
    font-size: 15px;
    flex-grow: 1;
    text-align: center;
}
#menuHeader > li > a{
    display: block;
    text-decoration: none;
}

#bouttonDeconnexion:hover{
    background-color:red;
}

#card_table{
    width:80%;
}

.content{
    background-color: snow;
    margin-left: 3em;
    margin-right: 3em;
}

#ExtensionList{
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}
#ExtensionList > li{
    flex-grow: 1;
    list-style: none;
    padding:0;
    width:30%;
}


#ExtensionList > li:nth-child(even){
    background-color: snow;
}

#ExtensionList > li:nth-child(odd){
    background-color: rgb(196, 196, 196);
}

#ExtensionList > li:hover{
    background-color: grey;
}
#ExtensionList > li >a{
    font-size:2.3em;
    text-align:center;
    padding:.3em;
    display: inline-block;
    width:100%;
    text-decoration: none;
    font-family:Garamond, serif;
    color:black;
}